{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ActivX</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <main class="main">
          <aside class="sidebar">
            <nav class="nav">
              <ul>
                <li><a href="{% url 'home' %}" id="nav-home">Home</a></li>
                <li><a href="{% url 'profile' %}" id="nav-profile">Profile</a></li>
                <li><a href="{% url 'leaderboard' %}" id="nav-leaderboard">Leadership Board</a></li>
                <li><a href="{% url 'settings' %}" id="nav-settings">Settings</a></li>
              </ul>
            </nav>
          </aside>

          <section class="content">
            {% block content %}
            {% endblock content %}
          </section>
        </main>
        <script>
            window.currentPage = '{{ request.resolver_match.url_name }}';
        </script>
        <script src="{% static 'js/base.js' %}"></script>
    </body>
</html>